.deptcontainer{
    display: flex;
    flex-direction: column;    
}
.deptContentContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    color: rgb(56, 55, 55);
    align-self: center;
    padding: 3rem;
    gap: 2rem;
}
.deptContentContainer > img{
    width: 30vh;
    width: 50vw;

}